.container {
	max-width:600px;
}
#loginerror {
	opacity:0;
	transition:opacity 300ms;
}
textarea {
	min-height:150px;
}

.is-invalid+.chosen-container .chosen-default {
	border: 1px solid red
}

label {
	margin-bottom:0;
	margin-top:0.5rem;
}